*.py[cod]
*.egg-info
__pycache__

*.so
*.dylib
*.dll

/mindsensors/include
/mindsensors/rpy-include
/mindsensors/_init_*.py
/mindsensors/pkgcfg.py
/mindsensors/version.py

.cache
.coverage
build
dist
